.vizualizar{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkBlue);
    width: 150vh;
    flex-grow: 1;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
}

.card{
    display: flex;
    flex-flow: row column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: var(--Grey);
    border-radius: 1vh;
    padding: 3%;
}
.titulo{
    color: var(--White);
    font-size: 5vh;
    margin-bottom: 5rem;
}

.voltar{
    font-size: 5vh;
    margin: 1%;
    margin-left: 70vh;
    color: var(--Green);
    transition: all 0.5s;
}

.voltar:hover{
    color: var(--White);
  }

.imagem{
    width: 30vh;
    height: 40vh;
    background-color: var(--DarkBlue);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: top;
    padding: 5vh;
    margin: 3rem;
    margin-bottom: 40rem;
}

.imagem img{
    width: 80%;
    height: auto;
}

.imagem p{
    margin-top: 1vh;
    font-size: 3vh;
    color: white;
}

.dados{
    margin: 2 rem;
}

.caracteristica{
    color: var(--Black);
    font-size: 175%;
    margin-left: 2rem;
}

.animachado{
    background-color: var(--Black);
    width: 75vh;
    color:var(--White);
    margin-left: 5%;
    font-size: 150%;
}

.animachado p{
    padding: 1rem;
}

.informacoes{
    width: 80vh;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: start;
}