.cadastro{
  display: flex;
  flex-flow: row column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3vh;
  background-color: var(--DarkBlue);
  width: 150vh;
  flex-grow: 1;
  padding: 3vh;
}


  
.cadastro label{
  font-size: 4vh;
    margin: 1vh;
    display: block;
}

.errocadastro{
  font-size: 3vh;
    padding: 3vh;
    color: var(--Red);
    display:block;
}