.login{
    display: flex;
    flex-flow: row column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: var(--DarkBlue);
    width: 150vh;
    flex-grow: 1;
    padding: 3vh;
  }
  
  
    
  .login label{
    font-size: 4vh;
    margin: 1vh;
    display: block;
  }
  
  .input textarea{
    width: 100%;
    height: 15vh;
    font-size: 3vh;
    padding: 1vh;
    border-radius: 0.5vh;
    border: none;
    margin-bottom: 2vh;
  }

  .erroalterar{
    font-size: 5vh;
    padding: 3vh;
    color: var(--Red);
    display:block;
  }