main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* espaço entre os cards */
  margin: 3rem auto;
  max-width: 1000px; /* limite de largura do container */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2vh;
  background-color: var(--DarkBlue);

  flex: 0 1 45%;  /* ocupa cerca de metade da linha */
  height: 35vh;   /* altura proporcional à viewport */
  padding: 3vh;  /* padding menor, proporcional ao card */
  box-sizing: border-box; /* importante para não somar padding à largura */
}


:link{
    text-decoration: none;
    transition: all 0.5;
}

.card p{
    font-size: 5vh;
    color: var(--White);
    
}

.card img{
    width: 15vh;
    height: auto;
    margin: 2vh;
}
