.vizualizar{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkBlue);
    width: 150vh;
    flex-grow: 1;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
}

.card{
    display: flex;
    flex-flow: row column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: var(--Grey);
    border-radius: 0.5vh;
    padding: 1%;
}
.titulo{
    margin-top: 5vh;
    color: var(--White);
    font-size: 5vh;
    margin-bottom: 5rem;
}

.voltar{
    font-size: 4vh;
    margin-left: 80vh;
    color: var(--Green);
    transition: all 0.5s;
}

.voltar:hover{
    color: var(--White);
  }

.informacoes{
    font-size: 3vh;
    width: 120vh;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: start;
}